<% content_for :meta_title, "Créer une plante" %>
<% content_for :meta_description, "Ajouter une nouvelle plante" %>
<%# <% content_for :meta_image, cl_image_path(@garden.photo.path) %>

<div class="top-new-plant">
  <%= link_to plants_path do %>
    <i class="fas fa-angle-left bouton-back"></i>
  <% end %>
  <h1 id="title-form-new-plant">Ma plante</h1>
</div>

<div class="container">
  <div class="form-new-plant">
      <%= simple_form_for [ @plant ] do |f| %>
          <label id="photo-new-plant", class="border p-5">
          <i class="icone-add-photo", class="fas fa-seedling fa-2x navbar-icon"></i>
          <i class="icone-app-photo" class="fas fa-camera"></i>
              <div class="d-none">
                <%= f.input :photo, as: :file, label: false %>
              </div>

          </label>
          <div id="preview">

          </div>
          <div class="infos-form-plant-new">
              <%= f.input :nickname, label: false, placeholder: "Surnom", input_html: { class: 'champ-form' } %>
              <%= f.input :plant_information, label: 'Type de plante', collection: @plant_infos , prompt: "Selectionne le type de ta plante" %>
              <%= f.input :age_in_days, label: "Date de naissance", hint: "Approximativement, t'inquiète", as: :date, discard_day: true, html5: true%>

          </div>
          <%= f.submit "Créer ma plante", id:"btn-form-new-plant" %>
      <% end %>
  </div>
</div>


