<% content_for :meta_title, "#{@plant.nickname} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @plant.plant_information %>
<%# <% content_for :meta_image, cl_image_path(@garden.photo.path) %>

<div class="div-master">
  <div class="plant-picture" style="background-image: url('<%= cl_image_path @plant.photo.key, height: 300, width: 375, crop: :fill %>')">
  </div>

  <%= link_to plants_path do%>
    <i class="fas fa-angle-left bouton-back-header-show-plant"></i>
  <% end %>

  <div class="principal-infos">
    <h1><%= @plant.nickname %></h1>
    <h3><%= @plant.plant_information.name %> - <%= @plant.plant_information.family%></h3>
    <p class="text-secondary"><%= @plant.age_in_days %> jours</p>
  </div>

  <div class="detailed-infos">
    <div class="requirements">

      <h2>Recommandations</h2>

      <div class="requirement-line">
        <div class="requirement-icon-text">
          <div class="icon">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
            </svg>
          </div>
          <h4>Difficulté</h4>
        </div>
        <p class="text-secondary"><%= @plant.plant_information.difficulty %></p>
      </div>

      <div class="requirement-line">
        <div class="requirement-icon-text">
          <div class="icon">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-sun" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.5 8a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0z"/>
            <path fill-rule="evenodd" d="M8.202.28a.25.25 0 0 0-.404 0l-.91 1.255a.25.25 0 0 1-.334.067L5.232.79a.25.25 0 0 0-.374.155l-.36 1.508a.25.25 0 0 1-.282.19l-1.532-.245a.25.25 0 0 0-.286.286l.244 1.532a.25.25 0 0 1-.189.282l-1.509.36a.25.25 0 0 0-.154.374l.812 1.322a.25.25 0 0 1-.067.333l-1.256.91a.25.25 0 0 0 0 .405l1.256.91a.25.25 0 0 1 .067.334L.79 10.768a.25.25 0 0 0 .154.374l1.51.36a.25.25 0 0 1 .188.282l-.244 1.532a.25.25 0 0 0 .286.286l1.532-.244a.25.25 0 0 1 .282.189l.36 1.508a.25.25 0 0 0 .374.155l1.322-.812a.25.25 0 0 1 .333.067l.91 1.256a.25.25 0 0 0 .405 0l.91-1.256a.25.25 0 0 1 .334-.067l1.322.812a.25.25 0 0 0 .374-.155l.36-1.508a.25.25 0 0 1 .282-.19l1.532.245a.25.25 0 0 0 .286-.286l-.244-1.532a.25.25 0 0 1 .189-.282l1.508-.36a.25.25 0 0 0 .155-.374l-.812-1.322a.25.25 0 0 1 .067-.333l1.256-.91a.25.25 0 0 0 0-.405l-1.256-.91a.25.25 0 0 1-.067-.334l.812-1.322a.25.25 0 0 0-.155-.374l-1.508-.36a.25.25 0 0 1-.19-.282l.245-1.532a.25.25 0 0 0-.286-.286l-1.532.244a.25.25 0 0 1-.282-.189l-.36-1.508a.25.25 0 0 0-.374-.155l-1.322.812a.25.25 0 0 1-.333-.067L8.203.28zM8 2.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11z"/>
            </svg>
          </div>
          <h4>Soleil</h4>
        </div>
        <p class="text-secondary"><%= @plant.plant_information.sunlight %></p>
      </div>

      <div class="requirement-line">
        <div class="requirement-icon-text">
          <div class="icon">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-droplet-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
            <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
            </svg>
          </div>
          <h4>Eau</h4>
        </div>
        <p class="text-secondary"><%= @plant.plant_information.water %></p>
      </div>

      <div class="requirement-line">
        <div class="requirement-icon-text">
          <div class="icon">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-thermometer-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M6 2a2 2 0 1 1 4 0v7.627a3.5 3.5 0 1 1-4 0V2zm2-1a1 1 0 0 0-1 1v7.901a.5.5 0 0 1-.25.433A2.499 2.499 0 0 0 8 15a2.5 2.5 0 0 0 1.25-4.666.5.5 0 0 1-.25-.433V2a1 1 0 0 0-1-1z"/>
            <path d="M8.25 2a.25.25 0 0 0-.5 0v9.02a1.514 1.514 0 0 1 .5 0V2z"/>
            <path d="M9.5 12.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
            </svg>
          </div>
          <h4>Temperature</h4>
        </div>
        <p class="text-secondary"><%= @plant.plant_information.min_room_temperature %>-<%= @plant.plant_information.max_room_temperature %>°C</p>
      </div>

      <div class="requirement-line">
        <div class="requirement-icon-text">
          <div class="icon">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
            <path fill-rule="evenodd" d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
          </div>
          <h4>Croissance</h4>
        </div>
        <div class="requirement-value text-secondary"><%= @plant.plant_information.start_growth_month %> - <%= @plant.plant_information.end_growth_month %></div>
      </div>

    </div>
  </div>

  <div class="they-have-the-same-plant">
    <h3>Ils l'ont aussi !</h3>

    <div class="neighbours">
      <% @samePlant.each do |plant| %>
        <% if plant.nickname == @plant.nickname %>
        <% else %>
        <div class="neighbour">
          <% user = User.find(plant.user_id) %>
          <div class="user-name-and-photo">
            <%= cl_image_tag user.photo.key, class: "avatar-bordered avatar-show-plant" %>
            <h5><%= user.first_name %></h5>
          </div>
          <img src="<%= cl_image_path plant.photo.key, height: 300, width: 375, crop: :fill %>" alt="">
        </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

