<% content_for :meta_title, "Classement" %>
<% content_for :meta_description, "Classement général" %>
<%# <% content_for :meta_image, cl_image_path(@garden.photo.path) %>

<div class="top-page-header">
  <h1>Classement général</h1>
  <%= cl_image_tag current_user.photo.key, class: "avatar-bordered avatar-top-right" %>
</div>

<div class="container">
  <div class="podium-classement">
    <% counter = 0 %>
    <% until counter == 3 %>
      <div class="ranking-podium">
        <div class="podium">
          <div id= "position<%= counter %>">
            <p id="name<%= counter  %>" class="name-podium"> <%= @podium[counter].first_name %></p>
            <p id="score<%= counter  %>" class="score-podium"><%= @podium[counter].score %> points</p>
            <p id="photo<%= counter  %>"><%= cl_image_tag @podium[counter].photo.key, class: "photo-podium avatar-top-right" %></p>
          </div>
          <% counter += 1 %>
        </div>
      </div>
    <% end %>
  </div>

  <img src="https://www.pngitem.com/pimgs/m/47-475004_podium-clipart-award-winning-transparent-background-podium-png.png" width="400" class="image-podium">

  <hr>
  <%# <div class="container-ranking"> %>
    <div class="ranking">
      <p class="headers"><strong>Rang</strong></p>
      <p class="headers"><strong>Jardinier</strong></p>
      <p class="headers"><strong>Score</strong></p>
    </div>

    <%# Affiche les scores  %>
    <%# @order vient du controller. Array contennant des instances de user dans l'order asc des scores %>
    <% @ranking.each do |user| %>
      <%# <% user = User.find(position.id) %> 
      <div class="ranking">
        <p id="position"><%= @ranking.index(user) + 4%> </p> 
        <%# <% raise %> 
        <p id="name"> <%= user.first_name %></p>
        <p id="score"><%= user.score %> points</p>
      </div>
    <% end %>

    <% if false %>
      <h1 id="header">Ta position</h1>
        <div class="ranking">
          <p class="headers">Rang</p>
          <p class="headers">Gardeneur</p>
          <p class="headers">Score</p>
        </div>

        <div class="ranking">
          <p id="position"><%= @order.index(current_user) + 1 %></p>
          <p id="name"> <%= @order.find(current_user.id).first_name %></p>
          <p id="score"><%= @order.find(current_user.id).score %> points</p>
        </div>
    <% end %>

  <%# </div> %>
</div>
