<div class="top-page-header-community">
  <%= link_to communities_classement_path do %>
    <i class="fas fa-medal link-to-classement"></i>
  <% end %>
  <h1>Community</h1>
  <%= cl_image_tag current_user.photo.key, class: "avatar-bordered avatar-top-right" %>
</div>

<div class="container-plants-cards-community">
  <% @plants.each do |plant| %>
    <div id ="content-user-plants-community" class="card-deck flex-row flex-nowrap">
      <%= cl_image_tag plant.photo.key, crop: :fill, id:"photo-user-plant-community" %>
      <div class="card-right-side">
        <div class="user-info-community">
          <%= cl_image_tag plant.user.photo.key, class: "avatar-bordered community-avatar" %>
          <%= plant.user.first_name %>
        </div>
        <div class="info-user-plant-community">
          <em><%= plant.nickname %></em> - <%= plant.plant_information.family %>
          <%creation_date = plant.created_at %>
          <% calcul_date = @now - creation_date  %>
          <% age_plant = calcul_date / 86400 %>
          <div class="plant-age text-secondary">
            <% age_plant_final = plant.age_in_days.to_i %>
            <% if age_plant_final == 0 %>
                Nouvelle pousse
            <% elsif age_plant_final > 1 %>
                <%= age_plant_final %> jours
            <% else %>
                <%= age_plant_final %> jour
            <% end %>
          </div>
          <div class="like-counter">
            <i class="far fa-heart"></i>
            <%= plant.like_number %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
