<% content_for :meta_title, "To Do list" %>
<% content_for :meta_description, "Tâches quotidiennes" %>
<%# <% content_for :meta_image, cl_image_path(@garden.photo.path) %> 

<div class="top-page-header mb-1">
  <h1>To-do list</h1>
  <%= cl_image_tag current_user.photo.key, class: "avatar-bordered avatar-top-right" %>
</div>

<div class="container">
  <% counter = 0 %>
  <% while counter < 4 do %>
    <div class="date-bloc">
      <% dayDate = DateTime.now + counter.day%>
      <div class="collapse-date" data-toggle="collapse" href="#collapseExample<%= counter %>" role="button" <%="aria-expanded=true" if counter == 0%> <%="aria-expanded=false" if counter != 0%> aria-controls="collapseExample">
        <h4 class="date-task"> <%= dayDate.strftime("%A %-d") %> </h4>
        <i class="fas fa-caret-down"></i>
      </div>
      <div class="tasks-date-block collapse <%="show" if counter == 0%>" id="collapseExample<%= counter %>">
        <% @plants.each do |plant| %>
          <div class="plants-tasks-block">
            <% plant.tasks.each do |task| %>
              <% plant_real_age = plant.age_in_days + counter %>
              <% if ((plant_real_age - task.intervalle) % task.intervalle == 0) %>
                <div class="tache-block">
                  <div class="tache-block-left">
                    <%= cl_image_tag plant.photo.key, class: "plant-photo-to-do mr-3", width: "70px", height: "70px"%>
                    <div class="tache-block-middle">
                      <span class="task-name-to-do"><%= task.name %></span>
                      <span class="nickname-sober"><%= plant.nickname %></span>
                    </div>
                  </div>
                  <div class="tache-block-right">
                    <p>+ <%= task.score %></p>
                    <%= simple_form_for @activity do |f| %>
                      <%= f.input :plant_id, as: :hidden, input_html: { value: plant.id } %>
                      <%= f.input :task_id, as: :hidden, input_html: { value: task.id } %>
                      <%= f.submit "Fait", class: 'btn-task mr-2', id: 'create-activity' %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <% counter += 1 %>
  <% end %>
</div>


