<h2>Hello <%= current_user.first_name %>, tu as du boulot :</h2>


<% @plants.each do |plant| %>
  <h4> <%= plant.nickname %> </h4>
  <% plant.tasks.each do |task| %>
    <p><%= task.name %></p>
    <%= simple_form_for @action do |f| %>
      <%= f.hidden_field :plant, value: "Michel" %>
      <%= f.button :submit %>
    <% end %>
  <% end %>
<% end %>
