<% if false %>
  <h2>Hello <%= current_user.first_name %>, tu as du boulot :</h2>

  <% @plants.each do |plant| %>
    <h4> <%= plant.nickname %> </h4>
    <h3> <%= plant.created_at %> </h3>
    <% plant.tasks.each do |task| %>
      <p><%= task.name %></p>
      <%= simple_form_for @activity do |f| %>
        <%= f.input :plant_id, as: :hidden, input_html: { value: plant.id } %>
        <%= f.input :task_id, as: :hidden, input_html: { value: task.id } %>
        <%= f.submit "Fait!", class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>



<%# @plants.each do |plant| %>
  <%# plant.tasks.each do |task| %>
    <%# Activity.where(user: current_user).before_date(DateTime.now - 3) %>
    <%#= Activity.where(task_id: task.id) %>
  <%# end %>
<%# end %>

<div class="container">
  <% counter = 0 %>
  <% while counter < 4 do %>
    <div class="dateBloc mb-5">
      <% dayDate = DateTime.now + counter.day%>
      <h4> <%= dayDate.strftime("%A %-d") %> </h4>
      <% @plants.each do |plant| %>
        <h4> <%= plant.nickname %> </h4>
        <% plant.tasks.each do |task| %>
          <% decalage = ((-(plant.created_at - dayDate))/84600).floor  %>
          <% if ((task.intervalle - decalage) % task.intervalle == 0) %>
            <div class="tache-block">
              <p><%= task.name %></p>
              <%= simple_form_for @activity do |f| %>
                <%= f.input :plant_id, as: :hidden, input_html: { value: plant.id } %>
                <%= f.input :task_id, as: :hidden, input_html: { value: task.id } %>
                <%= f.submit "Fait!", class: 'btn btn-primary btn-task' %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <hr>
    </div>
    <% counter += 1 %>
  <% end %>
</div>

<script>
  document.querySelectorAll("btn-task").forEach((btn) => {
    btn.addEventListener("click", (event) => {
      event.currentTarget.classList.toggle("hide-task");
    });
  });
</script>
