<% content_for :meta_title, "Chat" %>
<% content_for :meta_description, "Discutez avec votre voisins" %>
<%# <% content_for :meta_image, cl_image_path(@garden.photo.path) %>

<div class="top-page-header-chatrooms">
    <h1 id="chat-title">Mes conversations</h1>
</div>

<div class="container mt-2">
  <% @chatrooms.each do |chatroom| %>
    <% messages = chatroom.messages.where.not(user_id: current_user).select(:user_id).distinct %>
    <% messages.each do |message| %>
      <div class="card-deck flex-row flex-nowrap content-user-chat">
        <%= link_to chatroom_path(chatroom.id), class:"avatar-click-to-message" do %>
          <div class="user-chat">
            <div class="user-photo-chat">
                <%= cl_image_tag message.user.photo.key, class:"user-photo-chat" %>
            </div>
            <div class="infos-user-chat">
              <div class="name-hour-chat">
                <h3 id="chat-name"><%= message.user.first_name %></h3>
              </div>
              <div class="last-message">
                <p><%= chatroom.messages.last.content %></p>
                <p><%= chatroom.messages.last.created_at.strftime("%H:%M") %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
