<% content_for :meta_title, "Messages" %>
<% content_for :meta_description, "Ecrivez votre message" %>
<%# <% content_for :meta_image, cl_image_path(@garden.photo.path) %>

<div class="top-page-header-messages">
  <h1 id="title-chat">Discutez avec votre voisin</h1>
  <%#= @chatroom.messages.where.not(user_id: current_user).first.user.first_name %>
</div>

<%= link_to chatrooms_path do%>
  <i class="fas fa-angle-left bouton-back-header"></i>
<% end %>

<div class="container">
    <div class="chatroom">
        <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
        <% @chatroom.messages.each do |message| %>
            <div class="message-and-picture <%= "flex-row-reverse" if message.user == current_user %>">
              <%= cl_image_tag message.user.photo.key, class:"avatar-bordered community-avatar" %>
              <div class="message-container <%="my-message" if message.user_id == current_user.id %>" id="message-<%= message.id %>">
              <i class="author">
                  <span id="user-name"><%= message.user.first_name %></span>
                  <span id="chat-date"><%= message.created_at.strftime("%m %^b %H:%M") %></span>
              </i>
              <p id="chat-message"><%= message.content %></p>
              </div>
            </div>
        <% end %>
        </div>
    </div>
</div>

<div class="new-message">
    <%= simple_form_for [ @chatroom, @message ] do |f| %>
        <%= f.input :content, label: false, placeholder: "Ecrivez votre message", class:"my-message-encadre" %>
    <% end %>
</div>
