<div class="container-test">
  <h1 id="index-plant-title">My garden</h1>
  <button type="button" id="btn-add-new-plant" class="btn btn-lg btn-primary" disabled><a href="/plants/new/">Ajouter ma plante</a></button>
  <div class="container-plants-card">
    <% @user_plants.each do |user_plant| %>
      <div id ="content-user-plants" class="card-deck flex-row flex-nowrap">
        <a href="http://google.com">
        <div class="img-info-user-plant">
          <%= cl_image_tag user_plant.photo.key, crop: :fill, id:"photo-user-plant" %>
          <div class="info-user-plant">
            <li id="nickname-list-user-plant"><%= user_plant.nickname %></li>
            <%creation_date = user_plant.created_at %>
            <% calcul_date = @now - creation_date  %>
            <% age_plant = calcul_date / 86400 %>
            <div class="plant-age">
              <% age_plant_final = age_plant.to_i %>
              <% if age_plant_final == 0 %>
                  Nouvelle pousse
              <% elsif age_plant_final > 1 %>
                  <%= age_plant_final %> jours
              <% else %>
                  <%= age_plant_final %> jour
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


 <%# <%= image_tag("test-jardiniere-copie.png", id: "jardiniere-user-plant") %>
